<div class="utama col-md-3">
  <div class="radio">
    <label><input type="radio" name="optradio">ADD TO BLACKLIST</label>
  </div>
  <div class="radio">
    <label><input type="radio" name="optradio">ADD TO ALIAS</label>
  </div>
</div>
